jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=it.feio.android.omninotes
testPackageName=it.feio.android.omninotes
productFlavors=foss
compiledPackageName=it.feio.android.omninotes.foss
compiledTestPackageName=it.feio.android.omninotes.foss.test
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/it.feio.android.omninotes.foss/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/it.feio.android.omninotes.foss/omniNotes/src/androidTest/java/it/feio/android/omninotes/
